* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul,
ol {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 !important;
  margin: 0 !important;
}

$dark: #2e353e;
$darkblue: #0c0f66;
$blue: #183153;

// connected all fonts

$fonts: ('Montserrat', 'Regular', 400), ('Montserrat', 'Medium', 500),
  ('Montserrat', 'SemiBold', 600), ('Montserrat', 'Bold', 700);

@each $name, $fullName, $weight in $fonts {
  @font-face {
    font-family: $name;
    src: url('@/assets/fonts/#{$name}-#{$fullName}.ttf');
    font-weight: $weight;
  }
}

$sm: 576px;
$md: 765px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

body {
  font-family: 'Montserrat' !important;
  font-weight: 400;
}

button {
  font-family: 'Montserrat' !important;
  border: none !important;
  outline: none !important;
  cursor: pointer;
}

.large-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $blue;
  text-align: center;

  @include media($lg) {
    font-size: 25px;
  }
}

.title-line {
  position: relative;
}

.title-line::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 2px;
  background: $blue;
}

.link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: white !important;
  display: flex;
  align-items: center;
}

.link::before {
  content: '';
  width: 20px;  
  display: inline-block;
  border-top: 1px solid white;
  margin-right: 10px;
  transition: .5s;
}

.link:hover::before {
  width: 30px;
}