.header {
  &__nav {
    padding: 0;
    box-shadow: 0 1px 5px $dark;
    transition: 3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo img {
      width: 150px;
    }

    &-menu,
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-menu {
      @include media($lg) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        background: #00000078;
        backdrop-filter: blur(3px);
        flex-direction: column;
        align-items: flex-start;
        transition: 0.5s;
      }
      &.active {
        left: 0;
      }
      @include media(420px) {
        width: 100%;
      }
    }

    &-list {
      @include media($lg) {
        flex-direction: column;
        align-items: flex-start;
      }

      & li {
        @include media($lg) {
          width: 100%;
        }
      }
    }

    &-link {
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      margin: 0 15px;
      font-weight: 600;
      color: $dark;
      transition: 0.5s;
     
      &:hover {
        color: $blue;
      }

      @include media($lg) {
        width: 100% !important;
        padding: 15px 30px;
        margin: 0;
        color: black;
        filter: invert(1);
        &:hover {
          background: black;
        }
      }
    }

    &-button {
      position: relative;
      margin-left: 50px;

      @include media($lg) {
        margin-left: 30px;
        margin-top: 15px;
      }
    }

    &-toggle {
      font-size: 14px;
      font-weight: 600;
      color: $dark;
      background: transparent;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 10;
      &::after {
        content: url(@/assets/images/arrow-lang.svg);
        transition: 0.5s;
        margin-left: 10px;
        padding-bottom: 5px;
        transform: rotate(-180deg);
      }

      &.active::after {
        transform: rotate(0);
      }

      @include media($lg) {
        color: black;
        font-weight: 600;
        filter: invert(1);
      }
    }

    &-categories {
      position: absolute;
      top: -30px;
      left: -4px;
      transition: 0.5s;
      padding-top: 20px;
      opacity: 0;
      z-index: 5;
      background: rgba(255, 255, 255, 0.706);
      &.active {
        opacity: 1;
        top: 30px;
      }
    }

    &-lang {
      font-size: 12px;
      font-weight: 600;
      color: $blue;
      transition: 300ms;
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background: #0c0f66c7;
        color: white;
      }

      & > img {
        width: 20px;
        margin-right: 6px;
      }

      @include media($lg) {
        color: black;
      }
    }

    &-burger {
      width: 25px;
      height: 25px;
      position: relative;
      border: none;
      background: transparent;
      outline: none;
      display: none;
      align-items: center;
      cursor: pointer;
      transition: 300ms linear;
      overflow: hidden;
      @include media($lg) {
        display: flex;
      }
      @include media(420px) {
        z-index: 99;
      }

      &::before {
        content: '';
        width: 100%;
        height: 2px;
        background: black;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: 200ms linear;
      }

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background: black;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: 200ms linear;
      }

      & span {
        width: 100%;
        height: 2px;
        background: black;
        transition: 300ms linear;
      }

      &.active span {
        transform: translateX(100%);
        opacity: 0;
      }

      &.active::before {
        top: 11px;
        transform: rotate(45deg);
      }

      &.active::after {
        transform: rotate(-45deg);
        bottom: 12px;
      }
    }
  }
}
