.home {
  &__top {
    background: url(@/assets/images/home-bg.jpg) center/cover no-repeat;
    height: 700px;
    object-fit: cover;
    position: sticky;
    z-index: -1;
    top: 0;
    left: 0;

    &::before {
      content: '';
      background: rgba(0, 0, 0, 0.45);
      backdrop-filter: blur(2px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__sub {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 55;
    &-title {
      font-weight: 500;
      color: white;
      max-width: 550px;
      @include media(420px) {
        font-size: 22px;
      }
    }

    &-text {
      margin-top: 25px;
      max-width: 550px;
      color: white;
    }
  }

  &__block {
    background: white;
    padding: 50px 0;

    &-section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 32px;

      @include media($lg) {
        justify-content: center;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include media($lg) {
        margin: 30px;
      }
    }

    &-icon {
      width: 50px;
      height: 50px;
    }

    &-subName {
      font-size: 26px;
      font-weight: 500;
      color: $dark;
      margin: 6px 0 !important;
      @include media($sm) {
        font-size: 22px;
      }
    }

    &-subText {
      font-size: 18px;
      color: $dark;
      font-weight: 500;
      text-align: center;
      @include media($sm) {
        font-size: 16px;
      }
    }
    &-image {
      max-width: 400px;
      height: 300px;
      width: 100%;
      object-fit: cover;
    }

    &-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
      border-radius: 10px;
      transition: 0.5s;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 5px $blue;
      }

      @include media($xl) {
        margin: 30px 0;
      }
    }

    &-cardText {
      font-size: 15px;
      color: $dark;
      font-weight: 500;
    }
  }

  &__info {
    background: $blue;
    padding: 30px 0;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media($lg) {
        flex-direction: column;
      }
    }
    &-image {
      max-width: 500px;
      width: 100%;
      @include media($lg) {
        max-width: 700px;
      }
    }

    &-item {
      max-width: 600px;
      margin-left: 30px;

      @include media($lg) {
        max-width: 100%;
        margin-left: 0px;
        margin-top: 30px;
      }
    }

    &-title {
      font-size: 22px;
      line-height: 40px;
      margin: 0 0 15px 0;
      color: white;
      font-weight: 600;
    }

    &-text {
      color: white;
      @include media($lg) {
        font-size: 14px;
      }
    }
  }
}
